/* MusicPlayer.css */

.music-player-container {
    background-color: #212529; /* Dark background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .player-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h4 {
    margin: 0;
    color: #b801be;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 2.2em;
  }

   .album-cover {
    border-radius: 8px;
    border: 2px solid #e0e0e0; 
    margin-top: 10px; 
    width: 100%;
    height: auto;
  }

/* PLAYER */
.rhap_play-pause-button,
.rhap_volume-button {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: #b801be;
  z-index: 1; 
}

.rhap_progress-container {
  width: 75%;
  height: 10px;
  background-color: #e0e0e0; 
  margin-top: 10px; 
}

.rhap_progress-bar {
  height: 100%;
  background-color: #b801be;
}
.rhap_progress-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #212529;
}
.rhap_progress-container {
  border-radius: 10px;
}

.rhap_volume-bar {
  width: 100px; 
}

.rhap_main-controls {
  margin-left: 20%;
}

h4 {
  font-family: 'Press Start 2P';
}